div{
    width: 150px;
    display: inline-block;
    border: tomato solid 2px;
    margin: 10px;
    font-family: Mongolian Baiti;                                                              

}
ul>li{
    position: -ms-page;
    display: inline;
    border: solid black 2px;
    padding: 20px;
    text-transform: capitalize;
}
#tt{
    background-color: blue;
    color: chartreuse;
    border: inset red;
}
#noun{
    display: -webkit-box;
    width: 150px;
    height: 150px;
    border:rgb(17, 0, 255) solid 10px;
    padding: 10px;
    margin: 2px;
}
.three{

}
.two{
    position: absolute;
    left: 900px;
}
.one{

}
.zero{

}